[submodule "vim/bundle/vim-pathogen"]
	path = tools/vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/nerdtree"]
	path = tools/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/syntastic"]
	path = tools/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "tools/vim/bundle/VimClojure"]
	path = tools/vim/bundle/VimClojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule "tools/vim/bundle/FuzzyFinder"]
	path = tools/vim/bundle/FuzzyFinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "tools/vim/bundle/L9"]
	path = tools/vim/bundle/L9
	url = https://github.com/vim-scripts/L9.git
[submodule "tools/vim/bundle/git-vim"]
	path = tools/vim/bundle/git-vim
	url = https://github.com/motemen/git-vim.git
