[Desktop Entry]
Type=Application
Exec=devilspie
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=devilspie
Name=devilspie
Comment[en_US]=
Comment=
